/*
@media screen and (min-width: 767px) {*/

	*{
		text-decoration: none;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 10px;
	}

	.contenedor{
		background:#060505;
		width: 100%;		
		margin:auto;
	 	position: relative;
		/* Flexbox */
		display:flex;
		flex-flow:row wrap;
	}

	body{
		background-color: #ccc;
	}

	/*HEADER*/
	header {
		background-color: #000000;
		width: 100%;
		/*height: 70px;*/		
		box-shadow: 0px 3px 3px #5E5D5D;
		padding: 20px;
		position: sticky; /*Pegajoso, se queda pegado*/ 
		top:0; /*Le digo que arriba, pero dejamos que el resto se amolde*/
		position: -webkit-sticky; /*Safari*/

		/*FELX*/
		display: flex;/*Elemento hijo del contenedor, pero elemento padre del logo y del menu*/
		align-items: center;/*Usamos esto para centrar nuestro elementos del menu*/
		flex-direction: row; /*Elementos en linea*/
		flex-wrap: wrap; /*Si no entran, se ponen debajo*/
		justify-content: space-between;
	}

	
	header .logo{
		color: white;
		width: 30%;
		
	}
 
	header .logo img {
		width:50px;
		vertical-align: top;
	}
	 
	header .logo a {
		text-decoration: none;
		line-height:50px;
		margin-left: 10px;
		font-size: 3em;
	}
	header nav{
		width: 50%;
		text-align: center;
	
		/*FLEX*/
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	header a{
		/*Tipo de letras*/
		color: white;
		font-family: 'Pinyon Script', cursive;
		font-weight: bold;
		

		/*FLEX*/
		flex-grow: 1; /*Hace que los elementos del menu ocupen el 100%*/

	}
	header .submenu{
		font-size: 3em;
		padding: 10px;
	}

	header .submenu:hover {
		background-color: #9A9797;
	}

	/*RESTO DE PAGINA*/

	/*SLIDER*/


	.slider{
		width: 100%;
		margin: auto;
		overflow: hidden;
		height: 900px;
		/*FELX	*/
	}

	.slider ul{
		padding: 0;
		width: 200%;

		/*FLEX*/
		display: flex;

		/*ANIMACION*/
		animation: cambio 20s infinite 2s  ;
		-webkit-animation: cambio 20s infinite 2s  ;
	}

	.slider li{
		width: 100%
		list-style: none;
	}
	.slider img{
		width: 100%;
		height: 100%;
	}


@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	33% {margin-left: -100%;}
	63% {margin-left: -100%;}

	65% {margin-left: -200%;}
	100% {margin-left: -200%;}
}






	
	/*PIE DE PAGINA*/
	footer{
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
		padding: 10px;
		font-size: 2em;
		
	}

	footer a{
		text-decoration: none;
		font-size: 2em;
		color: white;
	}

	@media screen and (max-width: 800px) {
		*{

		}
		.contenedor {
			flex-direction:column;
		}
	 
		header {
			flex-direction: column;
			padding:0;
		}
	 
		header .logo {
			margin:20px 0;
		}
	 
		header nav {
			width: 100%;
		}
	}

	@media screen and (max-width: 600px) {
		footer {
			justify-content:space-around;
		}
	}
 
