
	
	p{
		margin-top: 2em;
		width: 100%;
		text-align: center;
		font-size: 2em;
	}


	.formulario{

		width: 100%;
		color: white;
		font-family: 'Pinyon Script', cursive;
		font-weight: bold;
	}
	.contac_form{

		width: 100%;

		/*FLEX*/
		display: flex;
	}

	.cajetin{
		margin-top: 3em;
		width: 100%;

		/*FLEX*/
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
	}
	label{
		font-size: 3em;
	}
	input , textarea{
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}